meta info servlet
{[
{name: table_name, attributes: [{name: attr_name, type: int}, {name: attr_name2, type: varchar(20)}},
{name: table_name, attributes: [{name: attr_name, type: int}, {name: attr_name2, type: varchar(20)}},
{name: table_name, attributes: [{name: attr_name, type: int}, {name: attr_name2, type: varchar(20)}},
{name: table_name, attributes: [{name: attr_name, type: int}, {name: attr_name2, type: varchar(20)}}
]}


insert star servlet
{
status: succeed,
err: error message if failed
}


insert movie servlet
{
status: succeed,
err: error message if failed
}